# 2950 Project Phase 2

Flavia Jiang (yj472), Rachel Wang (jw879)

In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from sklearn.linear_model import LinearRegression, LogisticRegression
import duckdb

## Research Question

## Data Description

## Data Cleaning

Firstly, load the data.

In [35]:
dating_df = pd.read_csv("speed_dating_data.csv", encoding="ISO-8859-1")
dating_df.shape

(8378, 195)

The data set is super wide, and there are so many variables. So we went through the variable codebook made by the creators of this data set and removed variables we currently think would be unnecessary for our future analysis.

In [36]:
delete_list = ['idg', 'condtn', 'position', 'positin1', 'int_corr', 'undergra', 'mn_sat', 'zipcode', 'tuition', 'length', 'you_call', 'them_cal', 'numdat_2', 'num_in_3', 'go_out']
dating_df = dating_df.drop(delete_list, axis = 1)
dating_df.head()

,iid,id,gender,wave,round,order,partner,pid,match,samerace,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,10,4,1,11.0,0,0,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,10,3,2,12.0,0,0,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,10,10,3,13.0,1,1,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,10,5,4,14.0,1,0,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,10,7,5,15.0,1,0,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

Now we still have many columns. We kept most of the variables as for now in case we need them in the future. And we don't want to restrict ourselves to a specific set of variables. 

Though we did not do any web scraping or merge data sets to get this dataframe, one main effort we made was to interpret the meaning of each variable. We noticed that some of the given variable names were vague. So we decided to change them according to the variable codebook.

In [37]:
## general info about the subject (participant)
dating_df.rename(columns={"iid":"id","id":"id_within_wave","pid":"partner_id","age_o":"partner_age","race_o":"partner_race"})

,id,id_within_wave,gender,wave,round,order,partner,partner_id,match,samerace,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,10,4,1,11.0,0,0,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,10,3,2,12.0,0,0,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,10,10,3,13.0,1,1,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,10,5,4,14.0,1,0,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,10,7,5,15.0,1,0,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,552,22.0,1,21,22,5,18,526.0,0,0,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8374,552,22.0,1,21,22,4,19,527.0,0,0,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8375,552,22.0,1,21,22,10,20,528.0,0,0,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8376,552,22.0,1,21,22,16,21,529.0,0,0,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8377,552,NaN,1,21,22,15,22,530.0,0,0,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0

## Data Description

## Data Limitations

## Descriptive Analysis